<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto</title>
</head>
<body>
  <!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <title></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Juegos Info</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/listaproductos">Mas Noticias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/apiUsuarios">Comentarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/Kru">Crud</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Mas Noticias" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </nav>
      <div class="container">
      <div class="col-12" style="text-align: center;">
        <h1>Juegos Info</h1>
        <p>Tu fuente de noticias para juegos</p>
        <p>_____________________________________</p>
      </div>
    </div>
      <div class="container">
        <div id="carouse" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouse" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouse" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouse" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets\Imagen\stardijyHy7Lc9shyoJKNSYwN6E.jpg" class="d-block w-100" alt="1" width="200px" height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h5>Un fan de Starfield emplea 200 horas en configurar un detallado árbol de habilidades del RPG de Bethesda</h5>
                <p>Queda menos de un mes y medio para el lanzamiento de Starfield, el nuevo RPG espacial desarrollado por Bethesda, creadores de The Elder Scrolls y los Fallout modernos. Promete ser uno de los mayores lanzamientos de esta generación.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets\Imagen\assasi2022911151314_1.jpg" class="d-block w-100" alt="2" width="200px" height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h5>Assassin's Creed Mirage: Nuevo detalle traicionero de la historia revelado</h5>
                <p>Con Assassin's Creed Mirage acercándose lentamente, Ubisoft ya ha lanzado mucha información sobre la próxima entrega de la franquicia AC. Hasta ahora, nos han hablado del personaje principal Basim Ibn Ishaq, nos han impresionado con su compromiso con la precisión histórica y nos han dado información significativa sobre la historia.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets\Imagen\dragon-ball-z-budokai-tenkaichi-4-pc-juego-cover.jpg" class="d-block w-100" alt="3" width="200px" height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h5>'Budokai Tenkaichi 4': fecha de lanzamiento, tráiler y personajes del esperadísimo juego de 'Dragon Ball'</h5>
                <p>Revise mas abajo para mas informacion</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouse" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouse" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <br>
      <h1 style="text-align: center;">Noticias Actuales</h1>
      <h1 style="text-align: center;">⬇️</h1>
      <br>
      <DIV class="container">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets\Imagen\d7ab2ead-33bc-44e6-9e91-3ef4650eba83.jpg" class="d-block w-100" alt="1" width="200px" height="500px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Black Panther podría ser un juego de mundo abierto con un sistema de historia completamente innovador</h5>
              <p>Uno de los titulos mas esperados por los aficionados de Marvel y sus juegos, promete que el modo historia será muy innovador, acompañado de un excelente mundo abierto</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets\Imagen\Imagen_General-copia.1672911501.5538.jpg" class="d-block w-100" alt="2" width="200px" height="500px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Todd Garner, productor de Mortal Kombat 2, ha dejado caer la localización en la que se celebrará el próximo torneo a través de un breve vistazo tras las cámaras.</h5>
              <p>Si todo va bien, el próximo año tendremos en los cines Mortal Kombat 2, la esperada secuela del reboot cinematográfico de 2021 sobre la popular saga de videojuegos de lucha que volverá a contar con Simon McQuoid tras las cámaras.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets\Imagen\fromsoft_xpgq.jpg" class="d-block w-100" alt="3" width="200px" height="500px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Xbox elimina de su catálogo un juego de FromSoftware de manera permanente</h5>
              <p>Revise mas abajo para mas informacion</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#Captions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Captions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </DIV>
      <div class="container">
        <section style="background-color: rgb(224, 224, 224);">
          <div class="container">
            <div class="row" style="padding-top: 3%; padding-bottom: 3%; padding-left: 3%; padding-right: 3%;">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="text-align: center;">Ubisoft</h2>
                            <h6 class="card-subtitle mb-2 text-muted"  style="text-align: center;">Nuevos Juegos esperados! </h6>
                            <h3 class="card-subtitle mb-2 text-white"style="text-align: center; background-color: rgb(125, 177, 255);">Para este 2023!</h3>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                          <img src="assets\Imagen\202372117494855_1.jpg" class="d-block w-100" alt="1" width="60%" height="60%">
                            <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">En los próximos meses llegarán al mercado los siguientes títulos: Assassin's Creed Mirage, The Crew Motorfest, Avatar: Frontiers of Pandora, Prince of Persia: The Lost Crown, Skull and Bones, XDefiant, Just Dance 24, Rainbow Six Mobile y The Division Resurgece.

                              Además de estos nueve títulos, Ubisoft afirma que lanzará "otro gran juego" antes de que finalice el presente año fiscal, aunque no ha indicado cuál será. Star Wars Outlaws se lanzará en algún momento de 2024, pero aún está por ver si su lanzamiento está previsto para el primer trimestre del año.
                              
                              </li>
                        </ul>
                        <div class="card-body" style="text-align: center;">
                          <p>{{contador}}</p>
                          <p><button (click)="incrementar()" class="">Like</button></p>
                          <p><button (click)="decrementar()" class="">No Like</button><p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h2 class="card-title" style="text-align: center;">Mortal Combat 2</h2>
                          <h6 class="card-subtitle mb-2 text-muted"  style="text-align: center;">Se viene Super Torneo!</h6>
                          <h3 class="card-subtitle mb-2 text-white"style="text-align: center; background-color: rgb(125, 177, 255);">Despues de mucho tiempo</h3>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                          <img src="assets\Imagen\Imagen_General-copia.1672911501.5538.jpg" class="d-block w-100" alt="2" width="60%" height="60%">
                         <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">Si todo va bien, el próximo año tendremos en los cines Mortal Kombat 2, la esperada secuela del reboot cinematográfico de 2021 sobre la popular saga de videojuegos de lucha que volverá a contar con Simon McQuoid tras las cámaras.</li>
                         <br>
                         <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">El torneo de Mortal Kombat 2 podría tener lugar en el Outworld
                          Aunque solo se tratan de cuatro tomas de la película, las imágenes compartidas por su productor parecen indicarnos el Outworld (también conocido como El Mundo Exterior), el famoso reino en el que habitan algunos de los villanos más tortuosos de la popular franquicia de videojuegos.</li>
                        </ul>
                        <div class="card-body" style="text-align: center;">
                          <p>{{contador2}}</p>
                          <p><button (click)="incrementar2()" class="">Like</button></p>
                          <p><button (click)="decrementar2()" class="">No Like</button></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h2 class="card-title" style="text-align: center;">Xbox con todo</h2>
                          <h6 class="card-subtitle mb-2 text-muted"  style="text-align: center;">Noticia de FromSoftware</h6>
                          <h3 class="card-subtitle mb-2 text-white"style="text-align: center; background-color: rgb(125, 177, 255);">Se va de Xbox</h3>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                          <img src="assets\Imagen\fromsoft_xpgq.jpg" class="d-block w-100" alt="3" width="200px" height="200px">
                         <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">De este modo, uno de los títulos desarrollados por FromSoftware ha dejado de pertenecer al catálogo de videojuegos disponibles en consolas Xbox. Estamos hablando de Enchanted Arms, uno de los videojuegos más clásicos de la compañía japonesa y que nació en 2006, antes del exitazo que supuso la llegada de Dark Souls, marcando un antes y un después para el estudio. Sin explicación aparente hasta el momento de redacción de este artículo, el título ha sido retirado de la store de Xbox</li>
                        </ul>
                        <div class="card-body" style="text-align: center;">
                          <p>{{contador3}}</p>
                          <p><button (click)="incrementar3()" class="">Like</button></p>
                          <p><button (click)="decrementar3()" class="">No Like</button><p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
        </div>
      <section class="container"></section>
      <footer class="bg-dark py-4">
        <div class="container-fluid">
            <div class="row">
            <div class="col-12 text-center">
                <p class="font-weight-bold mb-3 text-light">Redes sociales</p>
                <div class="social-icons">
                <a href="#"><i class="fab fa-facebook fa-lg mr-3 text-light"></i></a>
                <a href="#"><i class="fab fa-twitter fa-lg mr-3 text-light"></i></a>
                <a href="#"><i class="fab fa-tiktok fa-lg text-light"></i></a>
                </div>
                <p class="text-light mt-3">© 2018 Todos los derechos reservados | Desarrollado por Inacap</p>
            </div>
            </div>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
  </html>
  
</body>
</html>

<router-outlet></router-outlet>
