<div class="container">
  <div class="col" style="text-align: center;"><h1>Mas Noticias!</h1>
  </div>
    
    <div class="container">
        <section style="background-color: rgb(224, 224, 224);">
          <div class="container">
            <div class="row" style="padding-top: 3%; padding-bottom: 3%; padding-left: 3%; padding-right: 3%;">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="text-align: center;">GTA IV</h2>
                            <h6 class="card-subtitle mb-2 text-muted"  style="text-align: center;">Todo lo que savemos</h6>
                            <h3 class="card-subtitle mb-2 text-white"style="text-align: center; background-color: rgb(125, 177, 255);">Todo lo que sabemos de GTA VI, el nuevo pelotazo de Rockstar</h3>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                          <img src="assets\Imagen\gta-6-imagenes.jpg" class="d-block w-100" alt="1" width="60%" height="60%">
                            <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">Es uno de los juegos más esperados de todos los tiempos, y estamos deseando hincarle el diente. El nuevo Grand Theft Auto está en desarrollo por Rockstar, y en este reportaje te contamos todo lo que debes saber sobre este AAA.

                              Es posible que GTA 6 sea el videojuego más esperado de la historia. No es fácil superar a The Elder Scrolls VI, Marvel's Spider-Man 2 o Zelda: Tears of the Kingdom en esta materia, pero creemos que la obra de Rockstar Games es una de las pocas que lo consigue con creces.</li>
                            <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">La buena noticia es que GTA 6 está en desarrollo de forma oficial, algo que la propia Rockstar confirmaba en febrero del año pasado... meses antes de que las filtraciones adelantaran algunos detalles concretos.

                              A pesar de este polémico suceso (que os explicaremos en este reportaje), Rockstar y su editora, Take-Two Interactive, aseguran que el desarrollo de GTA 6 sigue adelante sin mayores problemas.</li>
                      </ul>
                        <div class="card-body" style="text-align: center;">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h2 class="card-title" style="text-align: center;">Valorant</h2>
                          <h6 class="card-subtitle mb-2 text-muted"  style="text-align: center;">KRU Se proclama Campeones de la LCQ</h6>
                          <h3 class="card-subtitle mb-2 text-white"style="text-align: center; background-color: rgb(125, 177, 255);">Con un Falta Final en Lotus con un 3-2</h3>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/xNzHwZFumYY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" width="auto" height="200px"></iframe>
                         <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">En un Clásico de Latino histórico, KRÜ venció a Leviatán en la final del Last Chance Qualifier por 3-1 y se ganó un lugar en el VALORANT Champions que se disputará del 6 al 26 de agosto en Los Ángeles.</li>
                         <br>
                         <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">De esta manera, la final se cerró por 3-1 y KRÜ logró culminar su historia de redención en 2023. Pasó de ser el peor equipo de VCT Americas con un récord de 0-9, a ganar 5 series seguidas en el LCQ dejando en el camino a MIBR, FURIA, Cloud9 y sus amigos de Leviatán para volver a clasificar a un evento internacional. Sin lugar a dudas, Latinoamérica tendrá un gran representante en Los Ángeles.</li>
                        </ul>
                        <div class="card-body" style="text-align: center;">
                          
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h2 class="card-title" style="text-align: center;">Call of Duty: Modern Warfare 3 </h2>
                          <h6 class="card-subtitle mb-2 text-muted"  style="text-align: center;">filtra su logo oficial y el regreso de tres míticos personajes</h6>
                          <h3 class="card-subtitle mb-2 text-white"style="text-align: center; background-color: rgb(125, 177, 255);">Mal por Activicion</h3>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                          <img src="assets\Imagen\fromsoft_xpgq.jpg" class="d-block w-100" alt="3" width="200px" height="200px">
                         <li class="list-group-item card-subtitle text-muted"style="filter: brightness(90%);">Activision ya confirmó una de las filtraciones relacionadas con Call of Duty: Modern Warfare 3, la entrega que ocupará la posición premium a finales del presente año. El nuevo capítulo de estos datos anticipados corresponde a su campaña junto a Monster. Los cartones de publicidad ya lucen el logo oficial del juego junto al regreso de varios de los personajes clave que han protagonizado el reboot de la trilogía.

                          Como puedes ver en el tweet situado bajo este párrafo, el rojo toma el testigo del verde como color predominante. En la carátula de la promoción aparece el Capitán Price delante de lo que parece ser el rostro de Soap. Ambos personajes acapararán los focos durante la campaña, aunque en la lata de la conocida bebida energética aparece también Ghost. ¿Soap terminará igual que en la versión original del juego? Tendremos que esperar a que aterrice en el mercado.</li>
                        </ul>
                        <div class="card-body" style="text-align: center;">
                          
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
        </div>
      </div>
<footer class="bg-dark py-4">
  <div class="container-fluid">
      <div class="row">
      <div class="col-12 text-center">
          <p class="font-weight-bold mb-3 text-light">Redes sociales</p>
          <div class="social-icons">
          <a href="#"><i class="fab fa-facebook fa-lg mr-3 text-light"></i></a>
          <a href="#"><i class="fab fa-twitter fa-lg mr-3 text-light"></i></a>
          <a href="#"><i class="fab fa-tiktok fa-lg text-light"></i></a>
          </div>
          <p class="text-light mt-3">© 2018 Todos los derechos reservados | Desarrollado por Inacap</p>
      </div>
      </div>
  </div>
</footer>







